.button{
    text-transform: uppercase;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor:pointer
}
.contained {
    background-color: #63ccff;
    color: white;
}

.contained:hover {
    background-color: #1e9ad8;
}

.outlined{
    background-color: white;
    color: #63ccff;
    border: 1px solid #63ccff;;
}