.button{
    text-transform: uppercase;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: 300ms;
    font-weight: 500;
}

.contained{
    background-color:#ffeb3b;
    color: black;
}

.contained:hover{
    background-color: #b2a429;
}

.outlined{
    background-color: white;
    color:  #b2a429;
    border: 1px solid #ffeb3b ;
}

.outlined:hover,
.text:hover{
    background-color: #fffde7;
}

.text{
    color: #b2a429;
    background-color: transparent;
}
